form.searchform.form( role="search", method="get", action="#" )  
	input.form-control( type="text", value="", name="s" )
	button.searchsubmit( type="submit" ) Найти
	a.google-search-fancybox-button.fancybox( href="#google-search-fancybox-container" ) Поиск Google