%entry {

	margin: 2em auto;

	& + .entry {
		border-top: 1px solid $border-color;
		padding-top: 2em;
	}

}


%entry-components {

	.wp-post-thumbnail {
		box-shadow: .25em .25em .5em rgba( 0, 0, 0, .25 );
	}

	.title a:hover {
		text-decoration: none;
	}

	.categories {
		font-size: 75%;
		margin: 0;
	}

	.permalink {
		@extend %button;
		@extend %button-primary;
		float: right;
	}

}