









.bloginfo {

	display: flex;
	flex-direction: row;
	align-items: center;

	&:hover {
		text-decoration: none;
	}

	.custom-logo {
		max-width: 3em;
		max-height: 3em;
		margin-right: 1em;
	}

	.name {
		font-weight: bold;
		text-transform: lowercase;
		color: #fff;
		font-size: 3em;
		line-height: 1em;
	}

}