








.categories {

	list-style-type: none;
	padding-left: 0;

	li {
		display: inline-block;
		margin-right: .5em;
	}

	a {
		color: lighten( $text-color, 20% );
		transition: color .2s;
	}

	a:hover {
		color: $titles-color;
		text-decoration: none;
	}

}