//
//
//	ПОдвал сайта
//
//



.footer {


	@extend %parallax;
	background-color: $brand-primary;


	.aside {
		color: #fff;
	}

	.aside .widget .title {
		color: #fff;
	}

	.aside .widget .title:before {
		background-color: #fff;
	}


	.bloginfo {
		margin: 2em auto;
		justify-content: center;
		@include min-width( $screen-md ) {
			justify-content: flex-start;
		}
	}


	.contacts {
		margin: 2em auto;
		text-align: center;
		@include min-width( $screen-md ) {
			text-align: right;
		}
	}


}