//
//
//  Шапка сайта
//
//


.header {
	
	position: relative;
	z-index: 100;
	color: #fff;
	background-color: $brand-primary;
	padding: 0.5em;

	.bloginfo {
		margin: 1em auto;
		justify-content: center;
		@include min-width( $screen-sm ) {
			justify-content: flex-start;
		}
	}

	.contacts {
		text-align: left;
		@include min-width( $screen-md ) {
			text-align: right;
		}
	}

}