









.slider {
	position: relative;
}


.slider .controls {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}



.slider .controls .morelink {
	@extend %small;
	margin-left: 2em;
	margin-right: 2em;
}

.slider .controls .slider-arrow + .slider-arrow {
	margin-left: .5em;
}

.slider-arrow,
.slick-arrow {
	@extend %xy-center;
	display: inline-flex;
	bottom: .5em;
	background-color: #000;
	border: none;
	padding: 0;
	margin: 0;
	width: 2.5em;
	height: 2.5em;
	cursor: pointer;
	&:before {
		@extend %background-icon;
		@extend %icon-arrow;
		content: '';
		width: 1em;
		height: 1em;
		transform-origin: center center;
	}
}




.slick-prev,
.arrow-prev {
	&::before { transform: rotate( 180deg ); }
}



.slick-next,
.arrow-next {

}





.slick-dots {
	position: absolute;
}