//-
	Набор миксинов



mixin preloader( args )
	div( class="preloader", id=args.id, style=args.style )
		.bar.bar--1
		.bar.bar--2
		.bar.bar--3
		.bar.bar--4
		.bar.bar--5
		.bar.bar--6
		.bar.bar--7
		.bar.bar--8




mixin progress( percent )
	.progress
		.progress-bar( role="progressbar", style="width: " + percent + "%", aria-valuenow=percent, aria-valuemin="0", aria-valuemax="100" )




mixin widget( args )
	.widget
		if ( args.title )
			h3.widget__title.title #{args.title}
		else
			h3.widget__title.title Hello, world!
		if block
			block
		else
			p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
