block variables
	- section = { name: '' };



section( class="section " + section.name, id=section.name): .container
	block container
		.row
			.col-xs-12.col-sm-7.col-md-6.col-lg-6
				block column_left
			.col-xs-12.col-sm-4.col-md-5.col-lg-5.col-sm-offset-1
				block column_right
		block basement