//
//	WP
//	Странциа Архива
//




.archive {


	.entry {
		margin: 2em auto;
	}


	.entry + .entry {
		border-top: 1px solid $border-color;
		padding-top: 2em;
	}


	&__entry {

		.categories {
			font-size: 75%;
			margin: 0;
		}

	}

	
}