html
	head
		title Examples
		meta( charset="utf-8" )
	body
		h2 Шаблоны страниц
		ul
			li: a( href="examples/home.html" ) Главная
			li: a( href="examples/page.html" ) Страница / пост
			li: a( href="examples/archive.html" ) Архив
			li: a( href="examples/404.html" ) 404
			li: a( href="examples/search.html" ) Результаты поиска
		h2 Фильтры темы
		ul
			li #[code resume_front_page_sections]
			li #[code resume_customizer_lists]
			li #[code resume_templates_customizer_sections]
			li #[code resume_front_page_settings_sections]
			li #[code resume_searchform_before]
			li #[code resume_searchform_after]