//
// Главная страница
// Секция "Обо мне"
//




.aboutme {

	.foto {
		position: relative;
		margin-bottom: 1em;
		max-width: 280px;
		margin-left: auto;
		margin-right: auto;
	}

	&__foto {
		img {
			display: block;
		}
		.socials {
			position: absolute;
			left: 0;
			bottom: 0;
			margin: 0;
			flex-direction: column;
		}
	}

	.permalink::before {
		@extend %icon;
		@extend %background-icon;
		@extend %icon-aboutme;
		content: '';
		margin-right: 1em;
	}

	.file-link::before {
		@extend %icon;
		@extend %background-icon;
		@extend %icon-file;
		content: '';
		margin-right: 1em;
	}

}