.blog {

	background-color: lighten( $brand-success, 30% );

	.entry {
		@extend %entry;
	}

	&__entry {
		@extend %entry-components;
	}

	.entry:nth-of-type( even ) .row { flex-direction: row-reverse; }
	.entry:nth-of-type( even ) .share { justify-content: flex-end; }
	.entry:nth-of-type( even ) .permalink { float: left; }

}