//
//
//	Главная страница
//  первый экран
//
//




.jumbotron {

	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	min-height: 100vh;
	padding: 10em 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	box-sizing: border-box;

	+ * {
		margin-top: 100vh !important;
	}

	.bg {
		@extend %parallax;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}

	h1 {
		color: #fff;
		text-align: right;
		font-size: 4em;
		text-shadow: .25em .25em .5em rgba( 0, 0, 0, .25 );
	}

}


.jumbotron + .aboutme .foto {
	@include min-width( $screen-md ) {
		margin-top: -50%;
	}
}