













.way {

	@extend %parallax;
	margin: 0 auto;
	padding: 2em 0;
	position: relative;


	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba( 0, 0, 0, .3 );
	}


	+ * {
		margin-top: 0;
	}


	.entry {
		color: #fff;
	}


	.entry:last-child {
		margin-bottom: 0;
	}


	&__entry {
		.title {
			text-align: center;
			color: #fff;
		}
		h3, h4, p {
			color: #fff;
			margin: 0;
		}
		.content {
			font-size: 85%;
		}
		.content a {
			color: #fff;
		}
		.permalink {
			margin-top: 1em;
		}
	}


}