nav.nav#nav
	.bg#bg
	.overlay
		button.close#close #[span.sr-only Закрыть меню]
		ul.languages
			li.current ru
			li: a( href="#" ) en
			li: a( href="#" ) uk
		h3 Меню
		ul
			li: a( href="#" ) Обо мне
			li: a( href="#" ) Образование
			li: a( href="#" ) Опыт работы
			li: a( href="#" ) Скилы
			li: a( href="#" ) Портфолио
			li: a( href="#" ) Контакты