nav( aria-label="..." ).pager.clearfix
	a.next.pager__item.item( href="#", title="Смотреть следующий пост" )
		.arrow: .sr-only Смотреть следующий пост
		.wrap
			h4.title Lorem ipsum dolor sit amet, consectetur adipisicing elit
			p.excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	a.previous.pager__item.item( href="#", title="Смотреть предыдущий пост" )
		.arrow: .sr-only Смотреть предыдущий пост
		.wrap
			h4.title Vero, fugit repellendus debitis alias quasi quisquam
			p.excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.