extend ../layout/_section



//-
	Секция главной страницы


block variables
	- section = { name: 'aboutme' };


block container
	.row.center-xs
		.col-xs-10.col-sm-5.col-md-4.col-lg-4.col-sm-offset-1
			.aboutme__foto.foto
				img.lazy( src="#", data-src=src.img+'foto.jpg', alt="Моё фото" )
				include ../blocks/_socials
		.col-xs-12.col-sm-6.col-md-7.col-lg-7.first-sm
			h2 Обо мне
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum possimus, perspiciatis accusamus eligendi laudantium labore reprehenderit quas sit, vel adipisci ipsum cupiditate, eos repudiandae assumenda temporibus consectetur nam aut quo.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum possimus, perspiciatis accusamus eligendi laudantium labore reprehenderit quas sit, vel adipisci ipsum cupiditate, eos repudiandae assumenda temporibus consectetur nam aut quo.
			div
				a.btn.btn-primary.permalink( role="button", href="#" ) Подробней обо мне
				a.btn.btn-warning.file-link( role="button", href="#" ) Загрузить резюме