//-
	Главная страница
	Секция "Отзывы"


mixin reviews_item( args )
	article.reviews__item.item
		img.foto( src="#", data-lazy=args.foto, alt=args.name )
		blockquote.overlay
			.content #{args.review}
			cite.author #{args.name}
		a.link( href="#" ) Подробней о проекте

section.section.reviews#reviews: .container
	h2 Отзывы
	.slider
		#reviews-items
			+reviews_item( { foto: src.img+'user.png', name: 'Иванов Иван', review: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut quip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur t occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.' } )
			+reviews_item( { foto: src.img+'reviews/client01.jpg', name: 'Иванов Иван', review: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut quip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.' } )
			+reviews_item( { foto: src.img+'reviews/client02.jpg', name: 'Иванов Иван', review: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur t occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.' } )
			+reviews_item( { foto: src.img+'reviews/client03.jpg', name: 'Иванов Иван', review: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut quip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur t occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.' } )
			+reviews_item( { foto: src.img+'reviews/client04.jpg', name: 'Иванов Иван', review: 'Lorem ipsum dolor sit amet, uis nostrud exercitation ullamco laboris nisi ut quip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur t occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.' } )
			+reviews_item( { foto: src.img+'user.png', name: 'Иванов Иван', review: 'Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur t occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.' } )
		.controls
			button.slider-arrow.arrow-prev#reviews-slider-prev: span.sr-only Предыдущий слайд
			button.slider-arrow.arrow-next#reviews-slider-next: span.sr-only Следующий слайд
			a.morelink( href="#" ) Смотреть все