extend ../layout/_section


//-
	Секция главйной страницы
	"Скилы"


mixin skill( args )
	li.clearfix
		strong.font-normal #{args.name} #[spam.pull-right #{args.percent}]
		+progress( args.percent )


mixin skills_experience( args )
	.col-xs-6.col-sm-3.col-md-3.col-lg-3
		.skills__experience.experience( role="listitem" )
			span.value #{args.value}
			span.label #{args.label}



block variables
	- section = { name: 'skills' };


block column_left
	h2 Мои скилы
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dignissimos, atque quidem optio fugiat eaque modi. Atque voluptas officia soluta, quibusdam omnis veritatis voluptate corporis cum perferendis, illum at accusamus?
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dignissimos, atque quidem optio fugiat eaque modi. Atque voluptas officia soluta, quibusdam omnis veritatis voluptate corporis cum perferendis, illum at accusamus?
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dignissimos, atque quidem optio fugiat eaque modi. Atque voluptas officia soluta, quibusdam omnis veritatis voluptate corporis cum perferendis, illum at accusamus?
block column_right
	ul.skills__list.list
		+skill( { name: 'HTML5/CSS3', percent: '100%' } )
		+skill( { name: 'SASS/PUG', percent: '100%' } )
		+skill( { name: 'jQuery', percent: '80%' } )
		+skill( { name: 'Gulp', percent: '50%' } )
		+skill( { name: 'PHP', percent: '50%' } )
		+skill( { name: 'Git', percent: '30%' } )
		+skill( { name: 'WordPress Themes', percent: '85%' } )
		+skill( { name: 'WordPress Plugins', percent: '55%' } )
		+skill( { name: 'WordPress Multisite', percent: '50%' } )
block basement
	.row.center-xs( role="list" )
		+skills_experience( { label: 'лет', value: '3' } )
		+skills_experience( { label: 'тем', value: '10' } )
		+skills_experience( { label: 'плагинов', value: '5' } )
		+skills_experience( { label: 'сайтов', value: '10' } )